{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>cucumber.md | 404 Not Found</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head><!--/head-->

<body>
    <div class="col-md-6 col-md-offset-3">
        <h1 style="text-align: center;">Ooops! Тут ничего нету.<br/> Кроме этой милой дамы.</h1>
        <img src="{% static 'images/home/404.jpg' %}"alt="" class="img-circle"/>
        <div class="col-md-6 col-md-offset-4">
            <a href="http://cucumber.md/" class="btn btn-default get">Назад, к огурцам</a>
        </div>
    </div>

</body>
</html>