{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% trans "Cucumber.md - We don't have competitors." %}</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="{% static 'js/jquery.js' %}"></script>
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
	<link href="{% static 'css/main.css' %}" rel="stylesheet">
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
	<script src="{% static 'lightbox/js/lightbox.min.js' %}"></script>

    <link href="{% static 'lightbox/css/lightbox.css' %}" rel="stylesheet" />

    <link href='http://fonts.googleapis.com/css?family=Comfortaa:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
</head><!--/head-->

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i>+373 78873031</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> info@cucumber.md</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
        <div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-7">
                        <div class="logo pull-left">
							<a href="/"><img src="{% static 'images/home/logo.png' %}" alt="" /></a>
					    </div>
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/" class="active">Главная</a></li>
								<li class="dropdown"><a href="#">Товары<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        {% for cat in categories %}
                                        <li><a href="/category/{{ cat.id }}">{{ cat.title_ru }}</a></li>
										{% endfor %}
                                    </ul>
                                </li>
                                {% for page in pages %}
								<li><a href="/page/{{page.url}}/">{{page.title}}</a></li>
                                {% endfor %}
							</ul>
						</div>
					</div>
					<div class="col-sm-5">
                        <div class="pull-right searchform">
                            <form action="/search/" method="get">
							<input type="text" placeholder="Поиск" name="q">
                            <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                            </form>
						</div>
                        {% comment %}
                        <div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								{% if request.user.is_authenticated %}
								<li><a href="/cart/"><i class="fa fa-shopping-cart"></i> Корзина</a></li>
								<li><a href="/profile/"><i class="fa fa-user"></i> Профиль</a></li>
								{% else %}
								<li><a href="/register/"><i class="fa fa-check"></i> Зарегистрироваться</a></li>
								<li><a href="/login/"><i class="fa fa-lock"></i> Войти</a></li>
								{% endif %}
							</ul>
						</div>
                        {% endcomment %}
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	{% block slider %}
	{% endblock %}
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Категории</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{% for category in categories %}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/category/{{category.id}}/">{{category.title_ru}}</a></h4>
								</div>
							</div>
							{% endfor %}
						</div><!--/category-products-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Брэнды</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
                                    {% for brand in brands %}
									<li><a href="/brand/{{ brand.brand.id }}"> <span class="pull-right">({{ brand.count }})</span>{{ brand.brand.title }}</a></li>
                                    {% endfor %}
								</ul>
							</div>
						</div><!--/brands_products-->
						

                            {% if promotion %}
                            <div class="shipping text-center hidden-xs hidden-sm"><!--shipping-->
							<a href="{{promotion.link}}">
                                {% thumbnail promotion.image "x300"  as im %}
				                    <img src="/{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
				                {% endthumbnail %}
                            </a>
                            </div><!--/shipping-->
                            {% endif %}
                        <div class="socials xs-hidden sm-hidden">
                        <div class="single-widget" style="margin-top: 20px;">
                            <div class="fb-like-box" data-href="https://www.facebook.com/pages/Cucumbermd/1495379450717767" data-width="292" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
						</div>
                        <div id="ok_group_widget" style="margin-top: 20px;"></div>
                        <script>
                        !function (d, id, did, st) {
                          var js = d.createElement("script");
                          js.src = "http://connect.ok.ru/connect.js";
                          js.onload = js.onreadystatechange = function () {
                          if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
                            if (!this.executed) {
                              this.executed = true;
                              setTimeout(function () {
                                OK.CONNECT.insertGroupWidget(id,did,st);
                              }, 0);
                            }
                          }}
                          d.documentElement.appendChild(js);
                        }(document,"ok_group_widget","52491210915907","{width:292,height:271}");
                        </script>
                        <div style="margin-top: 20px">
                            <script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>
                            <!-- VK Widget -->
                            <div id="vk_groups" style="margin-bottom: 10px;"></div>
                            <script type="text/javascript">
                            VK.Widgets.Group("vk_groups", {mode: 0, width: "292", height: "271", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 77297956);
                            </script>
                        </div>
					</div>
				</div>
                </div>
				{% block content %}
				{% endblock %}
        </div></div>
    </section>
	
	<footer id="footer"><!--Footer-->

		
		<div class="footer-widget hidden-xs hidden-sm">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
                          <ul class="nav nav-pills nav-stacked">
                                <h2>О нас</h2>
								{% for page in pages %}
                                <li><a href="/page/{{ page.url }}">{{ page.title }}</a></li>
                                {% endfor %}
                           </ul>
						</div>
					</div>

					<div class="col-sm-2">
						<div class="single-widget">
                            <ul class="nav nav-pills nav-stacked">
                                <h2>Категории</h2>
								{% for cat in categories %}
                                <li><a href="/category/{{ cat.id }}">{{ cat.title_ru }}</a></li>
                                {% endfor %}
							</ul>
						</div>
					</div>

                    <div class="col-sm-2">
						<div class="single-widget">
                            <ul class="nav nav-pills nav-stacked">
                                <h2>Брэнды</h2>
								{% for brand in brands %}
                                <li><a href="/brand/{{ brand.brand.id }}">{{ brand.brand.title }}</a></li>
                                {% endfor %}
							</ul>

						</div>
					</div>
                    <div class="col-sm-3">
						<div class="single-widget">
                            <div class="single-widget">
                            <h2>Подпишись на обновления</h2>
                            <form class="searchform" action="#">
                                <input type="text" placeholder="Ваш имейл">
                                <button class="btn btn-default" type="submit">
                                <i class="fa fa-arrow-circle-o-right"></i>
                                </button>
                                <p>
                                ..чтобы получать последние новости о товарах и услугах
                                    от cucumber.md
                                </p>
                            </form>
                            </div>
						</div>
					</div>
                    <div class="col-sm-3">
						<div class="single-widget">
                            <img src="{% static 'images/home/logo-large.png' %}" width="210px">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2014 cucumber.md Inc. All rights reserved.</p>
					<p class="pull-right">Developed by <span><a target="_blank" href="http://cucumber.md">cucumber.md</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->

	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
        {% block extra_footer %}
        {% endblock %}
        jQuery(".fancybox").fancybox();
        });
    </script>

</body>
</html>