{% extends 'base.html'%}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}

	
{% block slider %}
<section id="slider" xmlns="http://www.w3.org/1999/html"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-md-12 hidden-xs">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">	
						<div class="carousel-inner">
							{% for slider in sliders %}
							<div class="item active">
								<div class="col-sm-6" style="padding-top: 50px;">
									<h1>{{slider.title}}</h1>
									
									<p>{{slider.body | safe}}</p>
									<a href="{{slider.link}}" class="btn btn-default get">{{slider.button}}</a>
								</div>
								<div class="col-sm-6">
				                {% thumbnail slider.image "350x400" crop="center" as im %}
				                    <img src="/{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-circle">
				                {% endthumbnail %}
									
								</div>
							</div>
							{% endfor %}
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
{% endblock %}


	
{% block content %}				
				<div class="col-sm-9 padding-right">
					<div class="features_items category-tab"><!--features_items-->
						<h2 class="title text-center">Последние товары</h2>
                        {% comment %}
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tshirt" data-toggle="tab">Подкатегория</a></li>
								<li><a href="#blazers" data-toggle="tab">Еще одна</a></li>
								<li><a href="#sunglass" data-toggle="tab">И еще одна</a></li>
								<li><a href="#kids" data-toggle="tab">Ну и еще</a></li>
								<li><a href="#poloshirt" data-toggle="tab">Последняя</a></li>
							</ul>
						</div>
                        {% endcomment %}
						{% for product in last_products %}
						<div class="col-md-4 col-sm-4 col-xs-6">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
										{% if product.get_main_image %}
										{% thumbnail product.get_main_image "x200" as im %}
											<img src="/{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{product.title}}">
										{% endthumbnail %}
										{% else %}
											<img src="{% static 'images/home/logo-large.png' style='height:200px;'%}">
										{% endif %}
											<h2 class="product-title"><a href="/product/{{product.id}}">{{ product.title }}</h2>
                                            {% if product.old_price %}
											<p><span class="old-price">{{ product.old_price }} лей</span> <span class="new-price">{{ product.new_price }} лей</span></p>
                                            {% else %}
                                            <p><span class="new-price">{{ product.new_price }} лей</span> </p>
                                            {% endif %}
                                            </a>
											<button type="button" class="btn btn-default add-to-cart" data-toggle="modal" data-target="#quickOrder" data-item-title="{{product.title}}"><i class="fa fa-shopping-cart"></i>Быстрый заказ</button>
										</div>
                                        {% if product.on_sale %}
										<img src="{% static 'images/home/sale.png' %}"class="sale" alt="" />
                                        {% endif %}
                                        {% if product.new %}
										<img src="{% static 'images/home/new.png' %}"class="new" alt="" />
                                        {% endif %}
								</div>

							</div>
						</div>
						{% endfor %}
						
					</div><!--features_items-->
					
					
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
								{% for product in recommended_products %}
                                <div class="col-sm-4 col-sm-4 col-xs-6">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                                <div class="productinfo text-center">
                                                {% if product.get_main_image %}
                                                {% thumbnail product.get_main_image "x200" as im %}
                                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{product.title}}">
                                                {% endthumbnail %}
                                                {% else %}
													<img src="{% static 'images/home/logo-large.png' style='height:200px;'%}">
												{% endif %}
                                                    <a href="/product/{{product.id}}"><h2 class="product-title">{{ product.title }}</h2>
                                                    {% if product.old_price %}
                                                    <p><span class="old-price">{{ product.old_price }} лей</span> <span class="new-price">{{ product.new_price }} лей</span></p>
                                                    {% else %}
                                                    <p><span class="new-price">{{ product.new_price }} лей</span> </p>
                                                    {% endif %}</a>
                                                    <button type="button" class="btn btn-default add-to-cart" data-toggle="modal" data-target="#quickOrder" data-item-title="{{product.title}}"><i class="fa fa-shopping-cart"></i>Быстрый заказ</button>
                                                </div>
                                                {% if product.on_sale %}
                                                <img src="{% static 'images/home/sale.png' %}"class="sale" alt="" />
                                                {% endif %}
                                                {% if product.new %}
                                                <img src="{% static 'images/home/new.png' %}"class="new" alt="" />
                                                {% endif %}
                                        </div>

                                    </div>
                                </div>
								{% endfor %}
								</div>
								<div class="item">	
                                {% for product in recommended_products2 %}
                                <div class="col-sm-4 col-sm-4 col-xs-6">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                                <div class="productinfo text-center">
                                                {% if product_get_main_image %}
	                                                {% thumbnail product.get_main_image "x200" as im %}
	                                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{product.title}}">
	                                                {% endthumbnail %}
                                                {% else %}
													<img src="{% static 'images/home/logo-large.png' style='height:200px;'%}">
												{% endif %}
                                                    <a href="/product/{{product.id}}"><h2 class="product-title">{{ product.title }}</h2>
                                                    {% if product.old_price %}
                                                    <p><span class="old-price">{{ product.old_price }} лей</span> <span class="new-price">{{ product.new_price }} лей</span></p>
                                                    {% else %}
                                                    <p><span class="new-price">{{ product.new_price }} лей</span> </p>
                                                    {% endif %}</a>
                                                    <button type="button" class="btn btn-default add-to-cart" data-toggle="modal" data-target="#quickOrder" data-item-title="{{product.title}}"><i class="fa fa-shopping-cart"></i>Быстрый заказ</button>
                                                </div>
                                                {% if product.on_sale %}
                                                <img src="{% static 'images/home/sale.png' %}"class="sale" alt="" />
                                                {% endif %}
                                                {% if product.new %}
                                                <img src="{% static 'images/home/new.png' %}"class="new" alt="" />
                                                {% endif %}
                                        </div>

                                    </div>
                                </div>
								{% endfor %}
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
				</div>




                <div class="modal fade" id="quickOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Быстрый заказ</h4>
                      </div>
                    <form method="POST" action="" class="order-form">
                      <div class="modal-body">
                      {% csrf_token %}
                        Ваше имя: <input type="text" name="name" class="name-field" required="required"><br>
                        Номер вашего телефона: <input type="text" class="phone-field" name="phone" required="required"><br>
                        Модель: <input type="text" class="item-field" required="required" name="item"><br>
                        Примечания: <textarea name="more"></textarea>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary order">Заказать!</button>
                      </div>
                       </form>
                    </div>
                  </div>
                </div>
				{% endblock %}



                {% block extra_footer %}

                    $('.add-to-cart').on("click", function(){
                        var item = $(this).data('itemTitle');
                        $('.item-field').val(item);
                    });
                    $('.order-form').on("submit", function(){
                        alert("Ваш заказ оформлен. Оператор свяжется с вами в ближайшее время.")});


                {% endblock %}
		