{% extends 'base.html'%}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}

{% block content %}
<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-9 padding-right">
                    <ol class="breadcrumb">
                      <li><a href="/">Главная</a></li>
                      <li><a href="/category/{{product.category.id}}/">{{ product.category.title_ru}}</a></li>
                      <li class="active">{{ product.title }}</li>
                    </ol>
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								{% if product.get_main_image %}
                                {% thumbnail product.get_main_image "900" as big %}
								{% thumbnail product.get_main_image "260" as im %}
                                <a href="/{{ big.url }}" data-lightbox="{{ product.title }}">
                                  <img src="/{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{product.title}}">
                                </a>
                                {% endthumbnail %}
                                {% endthumbnail %}
                                {% else %}
									<img src="{% static 'images/home/logo-large.png' style='height:200px;'%}">
								{% endif %}
								<h3>ZOOM</h3>
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">
										<div class="item active">
                                          {% for img in product_images %}
                                          {% thumbnail img.file "900" crop="center" as big %}
										  {% thumbnail img.file "90x90" crop="center" as im %}
                                          <a href="/{{ big.url }}" data-lightbox="{{ product.title }}">
                                            <img src="/{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{product.title}}">
                                          </a>
                                          {% endthumbnail %}
                                          {% endthumbnail %}
                                          {% endfor %}
										</div>
									</div>

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<h3>{{ product.title }}</h3>
								<h2>{{ product.brand.title }}</h2>
								<span>
                                    {% if product.old_price %}
                                    <span class="old-price">{{ product.old_price }} лей</span> <span class="new-price">{{ product.new_price }} лей</span>
                                    {% else %}
                                    <span class="new-price">{{ product.new_price }} лей</span>
                                    {% endif %}
								</span>
								<p><b>Доступно:</b> {{ product.available }}</p>
								<p><b>Брэнд:</b>{{ product.brand.title }} </p>
                                <p><b>Описание:</b> {{ product.description|safe }}</p>
								<a href=""><img src="{% static 'images/product-details/share.png' %}" class="share img-responsive"  alt="" /></a>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li><a href="#details" data-toggle="tab">Технические характеристики</a></li>
								<li><a href="#companyprofile" data-toggle="tab">О брэнде</a></li>
								<li class="active"><a href="#reviews" data-toggle="tab">Заказать</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade" id="details" >
                                <p><b>Операционная система:</b> {{ product.operating_system}}</p>
								<p><b>Объем памяти:</b>{{ product.storage }} </p>
                                <p><b>Процессор:</b>{{ product.processor }} </p>
                                <p><b>ОЗУ:</b>{{ product.memory }} </p>
                                <p><b>Экран:</b>{{ product.display }} </p>
                                <p><b>Фронтальная камера:</b>{{ product.camera_front }} </p>
                                <p><b>Задняя камера:</b>{{ product.camera_back }} </p>
                                <p><b>Количество SIM-карт:</b>{{ product.numbers_sim }} </p>
                                <p><b>Тип SIM-карты:</b>{{ product.sim_type }} </p>
                                <p><b>Вес:</b>{{ product.weight }} </p>
                                <p><b>Размеры (ШxВxТ):</b>{{ product.dimensions }} </p>
							</div>
							
							<div class="tab-pane fade" id="companyprofile" >
                                {% thumbnail product.brand.logo "50x50" crop="center" as im %}
                                <img src="/{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{product.brand.title}}" style="float: left;">
                                {% endthumbnail %}
								<h1 style="margin-left: 60px;"> {{ product.brand.title}}</h1><br>
                                <p style="padding: 10px;">{{ product.brand.description | safe }}</p>
							</div>
							
							<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12">
									<form method="POST" action="">
                                        {% csrf_token %}
                                        Ваше имя: <input type="text" name="name" class="name-field" required="required"><br>
                                        Номер вашего телефона: <input type="text" class="phone-field" name="phone" required="required"><br>
                                        Модель: <input type="text" class="item-field" required="required" name="item" value="{{product.title}}"><br>
                                        Примечания: <textarea name="more"></textarea>
                                        <button type="submit" class="btn btn-primary order">Заказать!</button>
									</form>
								</div>
							</div>
							
						</div>
					</div><!--/category-tab-->
				</div>
			</div>

		</div>
	</section>
{% endblock %}

{% block extra_footer %}



{% endblock %}