{% extends 'base.html'%}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}


    {% block slider %}
    {% if page %}
    <section id="slider" xmlns="http://www.w3.org/1999/html"><!--slider-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12 hidden-xs">
                        <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for slider in sliders %}
                                <div class="item active">
                                    <div class="col-sm-6" style="padding-top: 50px;">
                                        <h1>{{slider.title}}</h1>

                                        <p>{{slider.body | safe}}</p>
                                        <a href="{{slider.link}}" class="btn btn-default get">{{slider.button}}</a>
                                    </div>
                                    <div class="col-sm-6">
                                    {% thumbnail slider.image "350x400" crop="center" as im %}
                                        <img src="/{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-circle">
                                    {% endthumbnail %}

                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section><!--/slider-->
        {% endif %}
    {% endblock %}


{% block content %}
        <div class="col-md-9">
                        {% if category %}
						<h2 class="title text-center">{{category.title_ru}}</h2>
                        <ol class="breadcrumb">
                          <li><a href="/">Главная</a></li>
                          <li class="active">{{ category.title_ru}}</li>
                        </ol>
                        {% elif brand %}
                            <h2 class="title text-center">{{brand.title}}</h2>
                            <ol class="breadcrumb">
                              <li><a href="/">Главная</a></li>
                              <li class="active">{{ brand.title}}</li>
                            </ol>
                        {% elif q %}
                            <h2 class="title text-center">"{{ q }}"</h2>
                            <ol class="breadcrumb">
                              <li><a href="/">Главная</a></li>
                              <li class="active">Поиск: {{ q }}</li>
                            </ol>
                        {% elif page %}
                            <h2 class="title text-center">{{ page.title }}</h2>
                            <ol class="breadcrumb">
                              <li><a href="/">Главная</a></li>
                              <li class="active">{{ page.title }}</li>
                            </ol>

                            <div style="padding: 20px;">
                                {{ page.body|safe }}
                            </div>

                        {% endif %}

                        {% if not products and not page %}
                            <h3 style="text-align: center;">Товаров не найдено.</h3>
                        {% else %}
                            {% for product in products %}
                            <div class="col-sm-4 col-xs-6">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                            <div class="productinfo text-center">
                                            {% if product.get_main_image %}
                                            {% thumbnail product.get_main_image "x200" as im %}
                                                <img src="/{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{product.title}}">
                                            {% endthumbnail %}
                                            {% else %}
                                                <img src="{% static 'images/home/logo-large.png' style='height:200px;'%}">
                                            {% endif %}
                                                <h2 class="product-title"><a href="/product/{{product.id}}">{{ product.title }}</h2>
                                                {% if product.old_price %}
                                                <p><span class="old-price">{{ product.old_price }} лей</span> <span class="new-price">{{ product.new_price }} лей</span></p>
                                                {% else %}
                                                <p><span class="new-price">{{ product.new_price }} лей</span> </p>
                                                {% endif %}
                                                </a>
                                                <button type="button" class="btn btn-default add-to-cart" data-toggle="modal" data-target="#quickOrder" data-item-title="{{product.title}}"><i class="fa fa-shopping-cart"></i>Быстрый заказ</button>
                                            </div>
                                            {% if product.on_sale %}
                                            <img src="{% static 'images/home/sale.png' %}"class="sale" alt="" />
                                            {% endif %}
                                            {% if product.new %}
                                            <img src="{% static 'images/home/new.png' %}"class="new" alt="" />
                                            {% endif %}
                                    </div>

                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
						</div>

						{% comment %}
						<ul class="pagination">
							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">&raquo;</a></li>
						</ul>
                        {% endcomment %}
        </div>


                <div class="modal fade" id="quickOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Быстрый заказ</h4>
                      </div>
                    <form method="POST" action="" class="order-form">
                      <div class="modal-body">
                      {% csrf_token %}
                        Ваше имя: <input type="text" name="name" class="name-field" required="required"><br>
                        Номер вашего телефона: <input type="text" class="phone-field" name="phone" required="required"><br>
                        Модель: <input type="text" class="item-field" required="required" name="item"><br>
                        Примечания: <textarea name="more"></textarea>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary order">Заказать!</button>
                      </div>
                       </form>
                    </div>
                  </div>
                </div>
                {% endblock %}



                {% block extra_footer %}

                    $('.add-to-cart').on("click", function(){
                        var item = $(this).data('itemTitle');
                        $('.item-field').val(item);
                    });
                    $('.order-form').on("submit", function(){
                        alert("Ваш заказ оформлен. Оператор свяжется с вами в ближайшее время.")});


                {% endblock %}